[Unit]
Description=Run Elikuren update periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=elikuren-update@%i.service

[Install]
WantedBy=timers.target