[Unit]
Description=Update Elikuren stack
After=docker.service network-online.target
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/elikuren-app
ExecStart=/opt/elikuren-app/deploy/update.sh %i